rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    match /wallets/{walletId} {
      allow read, write: if true;
    }

    match /settings/{settingsId} {
      allow read, write: if true;
    }

    match /copyTradeSettings/{configId} {
      allow read, write: if true;
    }

    match /paperAccount/{accountId} {
      allow read, write: if true;
    }

    match /paperTrades/{tradeId} {
      allow read, write: if true;
    }

    match /paperPositions/{positionId} {
      allow read, write: if true;
    }

    match /userEntries/{entryId} {
      allow read, write: if true;
    }

    match /test/{docId} {
      allow read, write: if true;
    }
  }
}
